<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BJSocialSecurity.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://xuyatao.gicp.net:23875/downloads/ios/bjsi.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://xuyatao.gicp.net:23875/downloads/ios/logo/llogo.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://xuyatao.gicp.net:23875/ios/logo/blogo.png</string>
				</dict>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>42304C60D635ACA5E252951DC8605D3551A1AAE5</string>
				<key>dateExpires</key>
				<string>2022/1/22</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4XQ53E63Z9.cn.gov.bjld.bjsi</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4XQ53E63Z9</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>4XQ53E63Z9.cn.gov.bjld.bjsi</string>
				</array>
			</dict>
			<key>name</key>
			<string>BJSocialSecurity.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>67fa5b0c-435a-4525-80a6-84abd875aea9</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: cn.gov.bjld.bjsi</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4XQ53E63Z9</string>
				<key>name</key>
				<string>Beijing Social Security Fund Management Center</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
